@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'JalnanGothic';
}
body {
    /* background-image: url(/image/17844.jpg); */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-color: #0D1117;
    margin: 0; /* Body의 기본 margin 제거 */
    /* overflow: hidden; Body의 기본 overflow 제거 */
    color: white;
}
.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 46px;
    color: white;
}
cursor {
    image-rendering: none;
}
.container1{
    margin: 0px;
    margin-left: 400px;
    width: 540px;
    float: left;
}
.container2{
    margin: auto;
    width: 500px;
    height: 300px; /* 그래프 크기를 조절하려면 상하좌우 사이즈가 모두 맞아야함 */
}
canvas{
    border: 3px solid rgb(22, 27, 34);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    
}
#myChart{
    /* margin: auto; */
    position: relative;
    /* background-color: rgb(247, 247, 247); */
}
button{
    width: 46px;
    height: 46px;
}
#label-container {
    display: none;
}
#webcam-container{
    width: 400px;
}
.progress{
    margin: auto;
    text-align: center;
}
.progress-container{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 1200px;
}
/* .form{
    width: 800px;
    height: 600px;
    float: right;
    margin-right: 250px;
    border-radius: 10px;
    background-color: black;
} */

.form {
    position: relative;
    background-color: rgb(22, 27, 34);
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    border: 3px solid #f6f8fa;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: rgb(236, 236, 236);
    outline: none;
    overflow: hidden;
    width: 1000px;
    height: 700px;
    margin: auto;
    /* float: right; */
    /* margin-right: 170px; */
    padding: 10px 30px 30px 30px; 
    text-align: center;
    z-index: 1;
  }
  .form span.titles {
    position: relative;
    font-size: 22px;
  }
  .form::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #002913, transparent);
    transform: translate(-50%, -80%);
    transition: width 0.1s ease, height 0.2s ease;
  }
  .form:hover::before {
    --size: 800px;
  }

.zero{
    margin-top: 200px;
}

.zero2{
    margin-top: 50px;
}

.table{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

th.user-info{
    background-color: #161B22;
    color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: 500;
    width: 50px;
}

td.user-info{
    background-color: #161B22;
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 500;
    width: 50px;
}

tr{
    border: 1px solid #161B22;
}

.info{
    width: 20px;
    height: 20px;
    border: 3px solid #b1b1b1;
    border-radius: 100%;
    background-color: white;
    color: #161B22;
    font-size: 12px;
    float: left;
}

.maintitle{
    text-align: center;
    color: #f6f8fa;
    margin-right: 50px;
    font-size: 32px;
}

.maintitle1{
    text-align: center;
    color: #f6f8fa;
    font-size: 32px;
}

hr{
    margin: 10px 0px 50px 0px ;
}


button.btn.btn-primary{
    font-size: 12px;
    width: fit-content;
    height: 30px;
    float: left;
    background-color: #b40000;
    border: #b40000;
}

.form div, .form button, span.user-info, input.user-info-regist{
    position: relative;
    z-index: 2;
  }

div#myModal.modal.fade.show{
    font-size: 12px;
}

button.btn.btn-danger{
    font-size: 12px;
    width: 70px;
    height: 30px;
}

.data-result{
    width: 600px;
    height: 400px;
    background-color: #b1b1b1;
    margin: auto;
    border-radius: 10px;
}

/* --------------------------------------------------------------------------------------------  form */

.form2 {
    position: relative;
    background-color: rgb(22, 27, 34);
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    border: 3px solid #f6f8fa;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: rgb(236, 236, 236);
    outline: none;
    overflow: hidden;
    width: 1000px;
    height: 700px;
    margin: auto;
    /* float: right; */
    /* margin-right: 170px; */
    padding: 10px 30px 30px 30px; 
    text-align: center;
    z-index: 1;
  }
  .form2 span.titles {
    position: relative;
    font-size: 22px;
  }
  .form2::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #002913, transparent);
    transform: translate(-50%, -80%);
    transition: width 0.1s ease, height 0.2s ease;
  }
  .form2:hover::before {
    --size: 800px;
  }
  .form3 {
    position: relative;
    background-color: rgb(22, 27, 34);
    box-shadow: 1px 1px 1px 1px rgb(56, 56, 56);
    border: 3px solid #f6f8fa;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: rgb(236, 236, 236);
    outline: none;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    margin: auto;
    /* float: right; */
    /* margin-right: 170px; */
    padding: 10px 30px 30px 30px; 
    text-align: center;
    z-index: 1;
  }
  .form3 span.titles {
    position: relative;
    font-size: 22px;
  }
  .form3::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #002913, transparent);
    transform: translate(-50%, -80%);
    transition: width 0.1s ease, height 0.2s ease;
  }
  .form3:hover::before {
    --size: 800px;
  }